<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section>
        <div class="container">
            <div class="contactInfo">
                <div>
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span><img src="https://i.ibb.co/cbnfrDF/location.png" /></span>
                            <span>
                                COEP Hostel, Shivajinagar<br>
                                Pune, Maharashtra<br>
                                411005
                            </span>
                        </li>
                        <li>
                            <span><img src="https://i.ibb.co/rbbwDkP/mail.png"/></span>
                            <span>revati.kumbhar0106@gmail.com<br>kumaretejas689@gmail.com</span>
                        </li>
                        <li>
                            <span><img src="https://i.ibb.co/DGGjsW7/call.png"/></span>
                            <span>310-286-162</span>
                        </li>
                    </ul>
                </div>
                <ul class="sci">
                    <li><a href=""><img src="https://i.ibb.co/vxjnyw0/1.png"/></a></li>
                    <li><a href=""><img src="https://i.ibb.co/xsXK3zW/2.png"/></a></li>
                    <li><a href="https://www.instagram.com/btw_im_tk?igsh=MXUzZ3B4dzBoZmpzOQ=="><img src="https://i.ibb.co/5jFR49X/3.png"/></a></li>
                    <li><a href="https://github.com/revati46"><i class="fa-brands fa-github fa-xl" style="color: #fcfcfc;"></i></a></li>
                    <li><a href="linkedin.com/in/revati-kumbhar-4a1801286"><img src="https://i.ibb.co/GtnC2C8/5.png"/></a></li>
                </ul>

            </div>
            
            <div class="contactForm">
                <h2>Give us your feedback</h2>
                <form method="POST" action="/contact">
                    <input type="text" name="firstname" placeholder="First Name" required>
                    <input type="text" name="lastname" placeholder="Last Name" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="text" name="mobilenumber" placeholder="Mobile Number" required>
                    <textarea name="message" placeholder="Your Message" required></textarea>
                    <button type="submit">Submit</button>
                </form>
                
            </div>
            
        </div>
    </section>

    <h2>Feedback Received</h2>
<div class="feedback-container">
    {% for feedback in feedback_list %}
        <div class="feedback-card">
            <p><strong>{{ feedback.firstname }} {{ feedback.lastname }}</strong> ({{ feedback.email }})</p>
            <p>{{ feedback.message }}</p>
        </div>
    {% endfor %}
</div>

</body>
</html>
