<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Travel with us</title>
  <script type="text/javascript"
    src="https://platform-api.sharethis.com/js/sharethis.js#property=650d9d4c637e200019cd34c7&product=inline-share-buttons&source=platform"
    async="async"></script>
  <!-- In your HTML file located in the "templates" folder -->
  <link rel="stylesheet" href="{{ url_for('static', filename='stylefordashboard.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>


</head>

<body>
  <header>
    <nav>
      <ul class="navigation-menu">

        <li><a href="#">Services</a>
          <ul class="subnav">
            <li class="card-med" id="serv-groom">
              <div class="card-image"><img
                  src="https://media.istockphoto.com/id/1497396873/photo/ready-for-starting-my-beach-holiday.webp?b=1&s=170667a&w=0&k=20&c=2SNFbIDAdU6Lrp_-REz1ZX3jKE_mbkYT6LUOyhI8_NU=">
              </div>
              <a href="#">
                <span>Trip Planner</span>
                </span>
              </a>
            </li>
            <li class="card-med" id="serv-board">
              <div class="card-image"><img
                  src="https://media.cntraveler.com/photos/6400c114054e094ffa8bc8eb/16:9/w_2560%2Cc_limit/Travel%2520and%2520AI%25203-3-2023%2520FA_Dan%2520Matutina.jpg">
              </div>
              <a href="#">
                <span>Ai Trip Suggester</span>
                </span>
              </a>
          </ul>
        </li>
        <li><a href="#locate">Locations &amp; Hours</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
      </ul>
      <div id="utility">
        <span class="material-symbols-outlined">
          search
        </span>
        <span class="material-symbols-outlined">
          shopping_cart
        </span>

      </div>
    </nav>
  </header>
  <section class="hero">
    <h1>Tailored itineraries
      for your dream trip</h1>
    <div class="btn-group">
      <h4>We provide you always your dream places. We always make our customer happy by proving many choices.</h>
    </div>
  </section>

  <!-- explore wale card -->
  <section>
    <h2>Explore The Beauty of World</h2>

    <div class="cards-container">

      <div class="card-wrapper">
        <div class="card-image">
          <img src="{{ url_for('static', filename='manali.jpeg') }}"
            alt="Avatar">
        </div>
        <div class="card-content">
          <h3>MANALI</h3>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-image">
          <img src="{{ url_for('static', filename='tajmahal.jpeg') }}"
            alt="Avatar">
        </div>
        <div class="card-content">
          <h3>TAJ MAHAL</h3>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-image">
          <img src="{{ url_for('static', filename='place1.jpg') }}"
            alt="Avatar">
        </div>
        <div class="card-content">
          <h3>GATEWAY</h3>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-image">
          <img src="{{ url_for('static', filename='place2.jpg') }}"
            alt="Avatar">
        </div>
        <div class="card-content">
          <h3>CAVES</h3>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-image">
          <img src="{{ url_for('static', filename='place3.jpg') }}"
            alt="Avatar">
        </div>
        <div class="card-content">
          <h3>MUMBAI</h3>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-image">
          <img src="{{ url_for('static', filename='place4.jpg') }}"
            alt="Avatar">
        </div>
        <div class="card-content">
          <h3>FALLS</h3>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-image">
          <img src="{{ url_for('static', filename='place5.jpg') }}"
            alt="Avatar">
        </div>
        <div class="card-content">
          <h3>LAKE CAMPING</h3>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-image">
          <img src="{{ url_for('static', filename='place6.jpg') }}"
            alt="Avatar">
        </div>
        <div class="card-content">
          <h3>KOKAN</h3>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-image">
          <img src="{{ url_for('static', filename='kedarnath.jpg') }}"
            alt="Avatar">
        </div>
        <div class="card-content">
          <h3>KEDARNATH</h3>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-image">
          <img src="{{ url_for('static', filename='kasplateau.jpg') }}"
            alt="Avatar">
        </div>
        <div class="card-content">
          <h3>KAS PLATEAU</h3>
        </div>
      </div>
      

    </div>

  </section>

  <section>
    <h2>Our Services</h2>

    <ul class="services">
      <li class="card-large card-dark card-wide" id="serv-groom">
        <div class="card-image"><img src="{{ url_for('static', filename='bali.jpeg') }}">
        </div>
        <ul>
          Dog Grooming<span class="subtitle">Tail-wagging transformations are our specialty.</span>
          <li><a href="#">Coat Care</a><span>$80</span></li>
          <li><a href="#">Nail Care</a><span>$16</span></li>
          <li><a href="#">Doggie Deluxe Spa Day</a><span>$160</span></li>
          <button class="btn-filled-dark"><span class="material-symbols-outlined">
              calendar_month
            </span>Book Now</button>

        </ul>


      </li>
      <li class="card-large card-dark card-wide" id="serv-board">
        <div class="card-image"><img
            src="https://ouch-cdn2.icons8.com/F5Ea1suZtMYimKDkJr0CJLO_1bju6-bTyT1EuDKEg8s/rs:fit:368:254/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMjcx/LzVjMzE4NWM0LWZh/NTMtNGQ1OS05ZTM2/LTZjYzBhNGU3ODg0/NC5wbmc.png">
        </div>
        <ul>
          Dog Boarding<span class="subtitle">Where fun and care never take a day off.</span>
          <li><a href="#">Doggie Daycare</a><span>$80</span></li>
          <li><a href="#">Short Term Boarding</a><span>$80</span></li>
          <button class="btn-filled-dark"><span class="material-symbols-outlined">
              calendar_month
            </span>Book Now</button>
        </ul>

      </li>
    </ul>
  </section>

  <section id="locate">

    <div>
      <h2>Location &amp; Hours</h2>
      <p>Our knowledgeable and friendly staff is always ready to assist you in making the best choices for your furry,
        feathered, or finned friends.</p>
      <div class="btn-group">
        <button class="btn-filled-dark"><span class="material-symbols-outlined">
            pin_drop
          </span>Find a Store</button>
        <button class="btn-outline-dark btn-hover-color"><span class="material-symbols-outlined">
            contact_support
          </span> Contact Us</button>
      </div>
    </div>
  </section>

  <footer>

    <ul>
      Products
      <li><a href="#">Food &amp; Treats</a></li>
      <li><a href="#">Toys</a></li>
      <li><a href="#">Beds &amp; Furniture</a></li>
      <li><a href="#">Outdoor Supplies</a></li>
      <li><a href="#">Clothing</a></li>
      <li><a href="#">Aquariums</a></li>
      <li><a href="#">Rocks &amp; Decorations</a></li>
    </ul>

    <ul>
      Shop by Pet
      <li><a href="#">Dogs</a></li>
      <li><a href="#">Cats</a></li>
      <li><a href="#">Birds</a></li>
      <li><a href="#">Fish</a></li>
    </ul>


    <ul>
      Our Services
      <li><a href="#">Grooming</a></li>
      <li><a href="#">Boarding</a></li>
    </ul>
    <ul>
      Our Company
      <li><a href="#">Locations &amp; Hours</a></li>
      <li><a href="#">About Us</a></li>
    </ul>


  </footer>

</body>

</html>