<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Travel with us</title>
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=650d9d4c637e200019cd34c7&product=inline-share-buttons&source=platform" async="async"></script>
  <!-- In your HTML file located in the "templates" folder -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>


</head>
<body>
<!-- partial:index.partial.html -->
<nav>
  <div class="nav-logo">
    <div class="logo"></div>
  </div>
  <ul class="nav-links">
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('contact') }}">Contact</a></li>
    <li><a href="{{ url_for('explore') }}">Explore</a></li>
  </ul>
  <div class="profile">
    <button onclick="Profile()">Profile</button>
  </div>
</nav>

<main>
  <div class="background"></div>
  <div class="background background--2"></div>
  <div class="background background--3"></div>
  <div class="content">
    <h1></h1>
    <hr />
    <h2></h2>
  </div>
</main>
<footer>
  <div class="sharethis-inline-share-buttons"></div>
  <a href="https://bit.ly/m/JordanDey" target="_top">CodePen by Jordan Dey</a>
  <div class="randomize">
    <span>View next</span>
    <hr />
    <button>↻</button>
  </div>
</footer>

</body>
</html>
