<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Rotational Travel Slider</title>
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=650d9d4c637e200019cd34c7&product=inline-share-buttons&source=platform" async="async"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
<header>
  <a href="/contact" target="_top">CONTACT US</a>
  <a href="/about" target="_top">ABOUT US</a>
  <a href="/login" target="_top">LOGIN / SIGNIN</a>
</header>
<main>
  <div class="background"></div>
  <div class="background background--2"></div>
  <div class="background background--3"></div>
  <div class="content">
    <h1></h1>
    <hr />
    <h2></h2>
  </div>
</main>
<footer>
  <a href="#" target="_top">EXPLORE THE DIVERSITY OF INDIA</a>
  <div class="randomize">
    <span>View next</span>
    <hr />
    <button>↻</button>
  </div>
</footer>

</body>
</html>